.parallax2 {

    background-image: url('../../../Assets/unsplashlion.jpeg');
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }